<section>
    <h1 class="title">We Market Your Home to the World</h1>
    <div class="strategy-container">
        <div class="item1">
            <h1>Our Online Marketing Strategy</h1>
            <p>The Bay Area remains one of the world's most sought-after regions to live in, and when looking to sell, it is vital that your home be marketed online to audiences locally, nationally, and internationally.</p>
        </div>
        <div class="item2">
            <h1>Local Exposure</h1>
            <p>Through our partnership with Nextdoor, the private online social network now used in over 80% of U.S. neighborhoods and virtually all Bay Area neighborhoods, we make sure your home receives targeted local exposure. When you list your home with Hansen Partners it will automatically appear on Nextdoor in your neighborhood.</p>
        </div>
        <div class="item3">
            <h1>National Exposure</h1>
            <p>We secure strategic positioning and enhancement on Realtor.com, Trulia, and Zillow, driving more consumers to your home and increasing exposure. We  will receive every inquiry about your property directly.</p>
        </div>
        <div class="item4">
            <h1>International Exposure</h1>
            <p>To expose your luxury listing to millions of potential homebuyers worldwide, we promote on prominent international real estate portals, including: Wall Street Journal, LuxuryPortfolio.com, LuxuryRealEstate.com, LeadingRE.com, UniqueHomes.com, China.apr.com, Caimeiju, Juwai, Country Life UK</p>
        </div>
    </div>
    <div class="details-container">
        <div class="card-container">
            <div class="card shadow-8">
            <div class="img-content">
              <img class="img-src" src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/ebvif7iqcx0lcjlvwyuz/edited-page-20" alt="">
            </div>
            <div class="content">
              <p class="heading">Luxury Real Estate</p>
              <p class="desc">
                JRockcliff is a founding member of Luxury Portfolio International®, the luxury division of Leading Real Estate Companies of the World®. With more than 500 member firms around the world, Our luxury listings are exposed to a vast global audience and reach potential buyers and investors in over 50 countries.
              </p>
            </div>
          </div>
        </div>
        <div class="card-container">
            <div class="card shadow-8">
            <div class="img-content">
              <img class="img-src" src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/og3ockhby4gghmrdfseo/edited-p-19" alt="">
            </div>
            <div class="content">
              <p class="heading">Our Partners</p>
              <p class="desc">
                Through our international affiliations, we have a strong presence in over 50 countries. Our luxury listings are sent to prominent international real estate sites, reaching over 70 million potential buyers and investors worldwide through our relationships with:
              </p>
              <img class="logo-tape" src="../../../assets/tape.png" alt="">
            </div>
          </div>
        </div>
    </div>
</section>
