<section>
    <h1 class="marketing-title">Comprehensive Marketing Plan</h1>
    <div class="plan-container">
        <div class="plan_item" id="plan-item1">
            <img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/rmtn3r5zpsljdsncbwa4/image-007" class="plan_img shadow-7" alt="">
            <h1>Responsive</h1>
            <p>I am always available via phone, text, or email.</p>
        </div>
        <div class="plan_item" id="plan-item2" >
            <img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/ks8ztlvw2b35q5qgs6xn/image-011" class="plan_img shadow-7" alt="">
            <h1>Syndication</h1>
            <p>I market your property locally, nationally, and internationally</p>
        </div>
        <div class="plan_item" id="plan-item3" >
            <img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/zr3bugldblvebixagfs1/image-009" class="plan_img shadow-7" alt="">
            <h1>Virtual Tour</h1>
            <p>Let's make your home stand out with a high quality virtual tour.</p>
        </div>
        <div class="plan_item" id="plan-item4" >
            <img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/dywgmsgzddtcsqxagbwh/image-013" class="plan_img shadow-7" alt="">
            <h1>Photography</h1>
            <p>Beatiful, high-end photography is a central part of our marketing plan for your property.</p>
        </div>
    </div>
</section>