<section>
    <div class="container">
        <h1 class="title">Our Capabilities</h1>
        <div class="content">
            <div class="cards-container">
                <div class="card">
                    <div class="first-content">
                        <span>Decor Guidance</span>
                    </div>
                    <div class="second-content">
                        <span style="font-size: 0.85rem; font-weight: normal; text-wrap: balance;">Unlock the full potential of your space with our expert decor guidance. Elevate your home's ambiance and style with personalized advice on color schemes, furniture selection, and layout optimization. Transform your living spaces into havens of comfort and aesthetic delight with our tailored decor solutions.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="first-content">
                        <span>Intentional Layout</span>
                    </div>
                    <div class="second-content">
                        <span style="font-size: 0.85rem; font-weight: normal; text-wrap: balance;">Craft intentional layouts that seamlessly blend functionality and style. Our design experts curate spaces with purpose, optimizing flow and maximizing every square inch. Discover the art of intentional layout for homes that effortlessly reflect your lifestyle and aspirations.</span>
                    </div>
                </div>
            </div>
            <div class="expertise">
                <h1>My Staging Expertise</h1>
                <ul>
                    <li>Unclutter and organize your home</li>
                    <li>Neatly arrange drawers and cabinets</li>
                    <li>Keep pets outdoors or off the premises</li>
                    <li>Play soft music</li>
                    <li>Unclutter and organize your home</li>
                    <li>Neatly arrange drawers and cabinets</li>
                    <li>Keep pets outdoors or off the premises</li>
                    <li>Play soft music</li>
                </ul>
            </div>
        </div>
    </div>
</section>
