section{
  --color: rgba(114, 114, 114, 0.3);
  background-color: #212121;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
    min-height: 100vh;
    min-width: 100vw;
    color: white;
    .container{
        padding: 4.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title{
            font-size: 3rem;
            text-align: center;
        }
        .content{
            display: flex;
            flex-direction: row;
            width: 100%;
            min-height: 50vh;
            .cards-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 3.5rem;
                width: 65%;
                padding-right: 2rem;
                .card {
                    width: 40%;
                    height: 15rem;
                    transition: all 0.4s;
                    border-radius: 30px;
                    background: #212121;
                    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                               -15px -15px 30px rgb(60, 60, 60);
                    font-size: 2.2rem;
                    font-weight: bold;
                    text-align: center;
                    padding: 1rem;
                  }
                  
                  .card:hover {
                    border-radius: 15px;
                    cursor: pointer;
                    transform: scale(1.2);
                    box-shadow: 0px 0px 10px 5px  rgba(139, 139, 139, 0.705);
                    background: white;
                    color: black;
                  }
                  
                  .first-content {
                    height: 100%;
                    width: 100%;
                    transition: all 0.4s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;
                    border-radius: 15px;
                  }
                  
                  .card:hover .first-content {
                    height: 0px;
                    opacity: 0;
                  }
                  
                  .second-content {
                    height: 0%;
                    width: 100%;
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    transition: all 0.4s;
                    font-size: 0px;
                    transform: rotate(90deg) scale(0);
                  }
                  
                  .card:hover .second-content {
                    opacity: 1;
                    height: 100%;
                    font-size: 1.8rem;
                    transform: rotate(0deg);
                  }
            }
            .expertise{
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    font-size: 2rem;
                    margin-bottom: 0.2rem;
                }
                ul{
                    padding-left: 30px;
                    li{
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}