<section>
    <div class="upper">
        <div class="footer-newsletter">
            <h1>Newsletter</h1>
            <p>Subscribe to our Newsletter for latest news and updates. Stay tuned!</p>
            <div class="input-container">
                <input type="text" id="input" required="">
                <label for="input" class="label">Email Address</label>
                <div class="underline"></div>
            </div>
            <a class="fancy" href="#">
                <span class="top-key"></span>
                <span class="text">Subscribe</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
            </a>
        </div>
        <div class="footer-paragraph">
            <h1>Julie Hansen Partnership</h1>
            <p>An elite group of the East Bay's most talented and visionary real estate professionals believed buyers and sellers deserved more from their real estate company. More service. More resources. More integrity. More global reach. In a word, more of everything people should expect when they buy or sell their homes.</p>
        </div>
        <div class="footer-details">
            <div class="address">
                <h3>ADDRESS</h3>
                <p style="margin-bottom: 0">Pleasanton, CA 94588</p>
                <p style="margin-top: 0">4733 Chabot Drive #100</p>
                <p style="margin-bottom: 0">Julie Hansen-Orvis | CA DRE# 00934447</p>
            </div>
            <div class="contact">
                <h3>CONTACT INFORMATION</h3>
                <p style="margin-bottom: 0">(925) 980-4925</p>
                <p style="margin-top: 0">hansenpartners.re@gmail.com</p>
                <div class="icon-holder">
                    <img src="../../../assets/contact-icons/facebook.svg" class="icon" alt="">
                    <img src="../../../assets/contact-icons/linkedin.svg" class="icon" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="lower">
        <div class="icon-holder">
            <img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/zbesma34ygwklawiysod/dark-realtor-logo_x1vczu" alt="" class="icon">
            <img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/qje0mcix0r0qeoiikumu/sereno-logo" alt="" style="height: 0.8rem;">
            <img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/siun2nwoji9w7v0mssvy/dark-equal-logo_gahxpa" alt="" class="icon">
        </div>
        <p style="margin-bottom: 0">Website Designed & Developed by <span style="text-decoration: underline; cursor: pointer;">Luxury Presence</span></p>
        <p style="margin-top: 0.3rem">Copyright 2023 | Privacy Policy</p>
    </div>
</section>
