@import url('animations.scss');

.about-text *{
    margin: 0;
}

.nav-show {
    animation: fadeInFromTop 0.7s forwards;
}

.nav-hide {
    animation: fadeOutToTop 0.7s forwards;
}

  
.home-button{
    visibility: hidden;
    z-index: 9998;
}

.nav-left-show {
    animation: fadeInFromLeft 0.7s forwards;
}

.nav-left-hide {
    animation: fadeOutToLeft 0.7s forwards;
}

.nav-right-show {
    animation: fadeInFromRight 0.7s forwards;
}

.nav-right-hide {
    animation: fadeOutToRight 0.7s forwards;
}

.sections-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.home-img{
    background-image: url('../assets/splash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-img{
    background-image: url('../assets/splash.png');
    background-repeat: no-repeat;
    background-size:120%;
    background-position: center;
}

section {
    scroll-snap-align: center;
}


.typewriter{
    width: min-content;
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid rgb(255, 165, 0);
    white-space: nowrap;
    margin: 0 auto;
    opacity: 0; /* Initially hidden */
    animation: 
      typing 2.5s steps(40, end) 1s forwards,
      blink-caret .75s step-end 1s infinite;
}

.skills-title{
    padding: 5rem 4rem 5rem 3rem;
    .__skills{
        h1{
            width: 100%;
            text-align: center;
            color: white;
            font-size: 3rem;
            margin: 0;
        }
    }
    .__projects{
        h1{
            width: 100%;
            text-align: center;
            color: white;
            font-size: 3rem;
            margin: 0;
        }
    }
}

.skills-tech {
    width: 40%;
    height: 100%;
    padding-left: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    .skills-text{
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }
    .skills-chips-holder{
        width: 85%;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        .skills-chip{
            width: min-content;
            padding: 0.25rem;
            border: 1px solid orange;
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            max-width: 12rem;
            .skill-image-holder{
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                .skill-image{
                    aspect-ratio: 1/1;
                    width: 2rem;
                    filter:  brightness(0) invert(1);
                }
            }
            .skill-name{
                margin: 0 0.5rem;
                white-space: nowrap;
                color: white;
            }
        }
    }
}

.skills-projects{
    width: 60%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    gap: 1.4rem;
    .projects-card {
        position: relative;
        width: 18rem;
        height: 11.25rem;
        background-color: rgba(255, 255, 255, 0.074);
        border: 1px solid rgba(255, 196, 0, 0.222);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 1000px;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        .project-img-holder{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .project-img{
                padding: 1rem;
                aspect-ratio: default;
                width: 100%;
            }
        }
    }

    .projects-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }

    .card__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: orange;
        transform: rotateX(-90deg);
        transform-origin: bottom;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        .card__chips-holder{
            display: flex;
            flex-direction: row;
            flex-wrap: 1;
            gap: 0.3rem;
            .card__chips{
                height: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 0.4rem;
                padding-right: 0.4rem;
                border-radius: 10px;
                p{
                    font-size: 0.7rem;
                    margin: 0;
                }
            }  
        }
    }

    .projects-card:hover .card__content {
        transform: rotateX(0deg);
    }

    .card__title-holder{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .card__button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background-color: #181717;
            outline: 3px #181717 solid;
            outline-offset: -3px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: 400ms;
            .card__svg{
                z-index: 9999;
            }
            img{
                filter:  brightness(0) invert(1);
            }
        }

        .card__button:hover {
            background-color: white;
            img{
                filter:  brightness(1) invert(0);
            }
        }

        .card__title {
            margin: 0;
            font-size: 24px;
            color: #000000;
            font-weight: 700;
        }
    }

    .card__subtitle {
        color: #3f3f3f;
    }

    .projects-card:hover svg {
        scale: 0;
    }

    .card__description {
        margin: 10px 0 0;
        font-size: 14px;
        color: rgb(31, 31, 31);
        line-height: 1.4;
    }
}

.skill-chip{
    border: 3px solid orange;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    padding: 0.3rem;
    width:fit-content;
    .skill-image-holder{
        border: 1px solid white;
        border-radius: 50%;
        background-color: white;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .skill-image{
            aspect-ratio: 1/1;
            width: 2rem;
            filter: grayscale(100%);
        }
    }
    span {
        margin-left: 0.5rem;
        margin-right: 0.1rem;
    }
}

.card {
    width: 30%;
    height: 80%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, yellow 0%, orange 46%, orangered 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}

.card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    .project-img-holder{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .project-img{
            padding: 1rem;
            flex-shrink: 1;
            aspect-ratio: default;
            max-width: 90%;
            min-width: 70%;
        }
    }
}

.card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
}

.card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
}

.card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:before {
    transform: translateX(-100%);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:after {
    transform: translateX(100%);
}

.project-button {
    --color: white;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    background-color: transparent;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: white;
}

.project-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.project-button:hover {
    border: 2px solid rgb(216, 140, 0);
    color: orange;
}

.project-button:before {
    top: 100%;
    left: 100%;
    transition: all .5s;
}

.project-button:hover:before {
    top: -30px;
    left: -30px;
}

.project-button:active:before {
    background: transparent;
    transition: background 0s;
}

.contact-icon{
    aspect-ratio: default;
    width: 2rem;
    filter: invert(100%);
}