<!-- ************************ NAV BAR ************************ -->
<nav class="nav-show w-screen bg-black-alpha-20 h-5rem flex flex-row fixed top-0 gap-2 justify-content-center align-items-center px-5" 
id="nav-bar" style="z-index: 9999;">
  <img src="../assets/DJ.png"
  style="aspect-ratio: 1/1; width: 4rem; border-radius: 10px;">
  <span class="flex-1"></span>
  <div class="flex flex-row gap-5 text-sm h-full justify-content-center align-items-center pr-4"
  style="letter-spacing: 0.15rem;">
    <div><a class="nav-links no-underline cursor-pointer hover:shadow-8" (click)="goToSpecificSection(1)">Home</a></div>
    <div><a class="nav-links no-underline cursor-pointer hover:shadow-8" (click)="goToSpecificSection(2)">About Me</a></div>
    <div><a class="nav-links no-underline cursor-pointer hover:shadow-8" (click)="goToSpecificSection(3)">Skills</a></div>
    <div><a class="nav-links no-underline cursor-pointer hover:shadow-8" (click)="goToSpecificSection(4)">Projects</a></div>
    <div><a class="nav-links no-underline cursor-pointer hover:shadow-8" (click)="goToSpecificSection(5)">Contact Me</a></div>
  </div>
</nav>

<!-- ************************ SIDE BUTTONS ************************ -->
<div class="w-screen flex flex-row justify-content-between fixed top-0"
style="background-color: transparent;">
  <p-button icon="pi pi-angle-double-up" styleClass="p-button-rounded p-button-warning p-button-outlined"
  class="m-5 home-button" (onClick)="backToTop()" id="home-button"></p-button>
  <p-button icon="pi pi-bars" styleClass="p-button-rounded p-button-warning p-button-outlined"
  class="m-5 mr-6 home-button" (click)="sidebarVisible = true" id="menu-button"></p-button>
</div>

<!-- ************************ SIDE BAR ************************ -->
<p-sidebar [(visible)]="sidebarVisible" styleClass="w-25rem" position="right">
  <div class="flex flex-column w-full h-full justify-content-between">
    <div class="flex flex-column w-full">
      <a class="text-4xl font-bold no-underline hover:line-through m-2 text-orange-500 cursor-pointer hover:text-blue-900" (click)="goToSpecificSection(1)">Home</a>
      <a class="text-4xl font-bold no-underline hover:line-through m-2 text-orange-500 cursor-pointer hover:text-blue-900" (click)="goToSpecificSection(2)">About Me</a>
      <a class="text-4xl font-bold no-underline hover:line-through m-2 text-orange-500 cursor-pointer hover:text-blue-900" (click)="goToSpecificSection(3)">Skills</a>
      <a class="text-4xl font-bold no-underline hover:line-through m-2 text-orange-500 cursor-pointer hover:text-blue-900" (click)="goToSpecificSection(4)">Projects</a>
      <a class="text-4xl font-bold no-underline hover:line-through m-2 text-orange-500 cursor-pointer hover:text-blue-900" (click)="goToSpecificSection(5)">Contact Me</a>
    </div>
    <div class="flex flex-row w-full justify-content-around pt-5" style="border-top: 3px solid orange;">
      <img class="cursor-pointer" src="../assets/contact-icons/linkedin.svg" style="aspect-ratio: 1/1; width: 2rem;" (click)="goToSite('https://www.linkedin.com/in/dylan-jabla-630835180/')">
      <img class="cursor-pointer" src="../assets/contact-icons/facebook.svg" style="aspect-ratio: 1/1; width: 2rem;" (click)="goToSite('https://www.facebook.com/dylan.jabla/')">
      <img class="cursor-pointer" src="../assets/contact-icons/github.svg" style="aspect-ratio: 1/1; width: 2rem;" (click)="goToSite('https://github.com/djabla')">
    </div>
  </div>
</p-sidebar>

<!-- ************************ SECTION CONTAINER ************************ -->
<div class="sections-container w-screen" (scroll)="onScroll($event)" id="sections-container">

  <!-- ************************ HOME SECTION ************************ -->
  <section id="home" class="w-screen h-screen bg-blue-900 flex flex-row">
    <div class="home-text flex flex-column text-white justify-content-center"
    style="width: 50%; padding-top: 4rem; padding-left: 3rem;">
      <h1 class="text-7xl m-0" style="letter-spacing: 0.1rem;">Hello!</h1>
      <div class="typewriter"><h1 class="text-6xl m-0">I am Dylan Jabla ...&nbsp;</h1></div>
      <p>I am a fresh grad, aspiring to be a software developer. 
        My expertise is front-end development, primarily using Angular. 
      </p>
      <button class="project-button m-0 mt-3 cursor-pointer flex flex-row justify-content-center align-items-center" (click)="goToSpecificSection(5)">Contact Me</button>
    </div>
    <div class="home-img flex justify-content-center align-items-center"
    style="width: 50%; padding-top: 4rem;">
      <img src="../assets/jabla_grad (2).webp"
      class="shadow-8"
      style="aspect-ratio: default; width: 20rem; border-radius: 15px;">
    </div>
  </section>

  <!-- ************************ ABOUT SECTION ************************ -->
  <section id="about" class="about-section w-screen h-screen bg-white flex flex-row">
    <div class="about-img flex justify-content-center align-items-center"
    style="width: 40%; height: 100%;">
      <img src="../assets/about.jpg"
      class="shadow-8"
      style="aspect-ratio: default; width: 20rem;">
    </div>
    <div class="about-text flex flex-column justify-content-center"
    style="width: 60%; gap: 1rem">
      <div class="flex flex-row justify-content-center align-items-center" style="width: 100%; margin: 0;">
        <div style="width: 60%;">
          <h1 class="text-7xl font-bold">Education</h1>
          <div class="pl-3">
            <p class="text-2xl font-medium">Technological University of the Philippines Manila</p>
            <p class="text-xs font-italic">('19 - '23)</p>
            <p>Bachelor of Science in Computer Science</p>
          </div>
        </div>
        <div style="width: 60%;">
          <img src="../assets/filler-2.png" 
          style="aspect-ratio: 1/1; width: 80%;">
        </div>
      </div>
      <div class="flex flex-row justify-content-center align-items-center" style="width: 100%; margin: 0;">
        <div style="width: 30%;">
          <img src="../assets/hobbies.png"
          style="aspect-ratio: 1/1; width: 80%;">
        </div>
        <div style="width: 62%;">
          <h1 class="text-5xl font-bold">Hobbies and Interests</h1>
          <ul>
            <li>I am an massive sports fan. I watch baseball, basketball, volleyball, badminton, and more. 
              Pretty much every major sports out there!</li>
            <li>I used to play badminton competitively during my high school years.</li>
            <li>I am also an avid gamer and follows most mainstream e-sports scene, especially FPS games.</li>
            <li>I can play the piano pretty well.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- ************************ SKILLS SECTION ************************ -->
  <section id="skills" class="w-screen h-screen bg-blue-900">
    <div class="skills-title flex flex-row" style="height: 20%;">
      <div class="__skills" style="width: 40%;">
        <h1>Skills</h1>
      </div>
      <div class="__projects" style="width: 60%;">
        <h1 style="padding-left: 4rem;">Projects</h1>
      </div>
    </div>
    <div class="skills-section w-full flex flex-row" style="height: 80%;">
      <div class="skills-tech">
        <p class="skills-text">This are the skills that I acquired and learned through education, internship experience, and personal projects.</p>
        <div class="skills-chips-holder">
          <div class="skills-chip" *ngFor="let skill of skills">
            <div class="skill-image-holder">
              <img [src]="skill.image" class="skill-image">
            </div>
            <p class="skill-name">{{skill.name}}</p>
          </div>
        </div>
      </div>
      <div class="skills-projects">
        <div class="projects-card shadow-7">
          <div class="project-img-holder">
            <p-galleria [value]="goCreateImages" class="project-img" [showIndicators]="false" [showThumbnails]="false"
            [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true">
              <ng-template pTemplate="item" let-item>
                <img [src]="item" style="aspect-ratio: default; width: 100%; display: block;" />
              </ng-template>
            </p-galleria>
          </div>
          <div class="card__content">
            <div class="card__title-holder">
              <p class="card__title">GoCreate</p>
              <button class="card__button" (click)="goToSite('https://github.com/djabla/GoCreate')">
                <img src="../assets/contact-icons/github.svg" style="aspect-ratio: 1/1; width: 1.3rem;">
              </button>
            </div>
            <p class="card__subtitle text-xs font-italic m-0">School Project | Group </p>
            <p class="card__description mt-1 mb-1">An e-commerce website built for artists and designers.</p>
            <div class="card__chips-holder">
              <div class="card__chips" style="background-color: gray; color: black;">
                <p>CODEIGNITER</p>
              </div>
              <div class="card__chips" style="background-color: indigo; color: white;">
                <p>PHP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="projects-card shadow-7">
          <div class="project-img-holder">
            <img src="../assets/lakbay/2d Adventure Game.png" class="project-img" alt="">
          </div>
          <div class="card__content">
            <div class="card__title-holder">
              <p class="card__title">Lakbay</p>
              <button class="card__button" (click)="goToSite('https://github.com/djabla/LAKBAY')">
                <img src="../assets/contact-icons/github.svg" style="aspect-ratio: 1/1; width: 1.3rem;">
              </button>
            </div>
            <p class="card__subtitle text-xs font-italic m-0">4th Year Thesis | Group </p>
            <p class="card__description mt-1 mb-1">A 2D Adventure Game based on the Spanish Colonial Era of the Philippines.</p>
            <div class="card__chips-holder">
              <div class="card__chips" style="background-color: black; color: white;">
                <p>UNITY</p>
              </div>
              <div class="card__chips" style="background-color: purple; color: white;">
                <p>C#</p>
              </div>
            </div>
          </div>
        </div>
        <div class="projects-card shadow-7">
          <div class="project-img-holder">
            <p-galleria [value]="goCreateImages" class="project-img" [showIndicators]="false" [showThumbnails]="false"
            [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true">
              <ng-template pTemplate="item" let-item>
                <img [src]="item" style="aspect-ratio: default; width: 100%; display: block;" />
              </ng-template>
            </p-galleria>
          </div>
          <div class="card__content">
            <div class="card__title-holder">
              <p class="card__title">PokeDex</p>
              <button class="card__button" (click)="goToSite('https://github.com/djabla/dj-PokeDex')">
                <img src="../assets/contact-icons/github.svg" style="aspect-ratio: 1/1; width: 1.3rem;">
              </button>
            </div>
            <p class="card__subtitle text-xs font-italic m-0">Personal Project</p>
            <p class="card__description mt-1 mb-1">A simple Pokemon encyclopedia web app that utilizes the PokemonAPI.</p>
            <div class="card__chips-holder">
              <div class="card__chips" style="background-color: red; color: white;">
                <p>ANGULAR</p>
              </div>
              <div class="card__chips" style="background-color: #007acc; color: white;">
                <p>TYPESCRIPT</p>
              </div>
            </div>
          </div>
        </div>
        <div class="projects-card shadow-7">
          <div class="project-img-holder">
            <h1 class="text-2xl text-white">Coming Soon</h1>
          </div>
          <div class="card__content">
            <div class="card__title-holder">
              <p class="card__title">Online Shop</p>
              <button class="card__button" (click)="goToSite('')">
                <img src="../assets/contact-icons/github.svg" style="aspect-ratio: 1/1; width: 1.3rem;">
              </button>
            </div>
            <p class="card__subtitle text-xs font-italic m-0">Coming Soon</p>
            <p class="card__description mt-3 mb-1">A simple but fancy e-commerce website that utilizes FakeStore API.</p>
            <div class="card__chips-holder">
              <div class="card__chips" style="background-color: gray; color: black;">
                <p>COMING SOON</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ************************ PROJECTS ************************ -->
  <section id="projects" class="w-screen h-screen bg-white flex flex-column justify-content-center align-items-center">
    <h1 class="text-6xl font-bold m-5 mt-7">Projects</h1>
    <div class="w-full flex flex-row justify-content-between px-8">

      <div class="card shadow-8 cursor-auto">
        <div class="card-content">
          <div class="project-img-holder">
            <p-galleria [value]="goCreateImages" class="project-img" [showIndicators]="false" [showThumbnails]="false"
            [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true">
              <ng-template pTemplate="item" let-item>
                <img [src]="item" style="aspect-ratio: default; width: 100%; display: block;" />
              </ng-template>
            </p-galleria>
          </div>
          <div class="flex flex-column justify-content-center align-items-center">
            <p class="m-0 card-title text-2xl">GoCreate</p>
            <p class="m-0 text-white text-xs font-italic">School Group Project</p>
            <p class="m-2 card-para">An e-commerce website built using CodeIgniter | PHP</p>
            <button class="project-button cursor-pointer flex flex-row justify-content-center align-items-center" (click)="goToSite('https://github.com/djabla/GoCreate')">Check It Out</button>
          </div>
        </div>
      </div>
      
      <div class="card shadow-8 cursor-auto">
        <div class="card-content">
          <div class="project-img-holder">
            <img src="../assets/lakbay/2d Adventure Game.png" class="project-img" alt="">
          </div>
          <div class="flex flex-column justify-content-center align-items-center">
            <p class="m-0 card-title text-2xl">LAKBAY</p>
            <p class="m-0 text-white text-xs font-italic">School Group Project</p>
            <p class="m-2 card-para">A 2D adventure game built using Unity | C#</p>
            <button class="project-button cursor-pointer flex flex-row justify-content-center align-items-center" (click)="goToSite('https://github.com/djabla/LAKBAY')">Check It Out</button>
          </div>
        </div>
      </div>

      <div class="card shadow-8 cursor-auto">
        <div class="card-content">
          <div class="project-img-holder">
            <p-galleria [value]="goCreateImages" class="project-img" [showIndicators]="false" [showThumbnails]="false"
            [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true">
              <ng-template pTemplate="item" let-item>
                <img [src]="item" style="aspect-ratio: default; width: 100%; display: block;" />
              </ng-template>
            </p-galleria>
          </div>
          <div class="flex flex-column justify-content-center align-items-center">
            <p class="m-0 card-title text-2xl">PokeDex</p>
            <p class="m-0 text-white text-xs font-italic">Personal Project</p>
            <p class="m-2 card-para">A simple web app that utilizes Pokemon API, built using Angular | Typescript</p>
            <button class="project-button cursor-pointer flex flex-row justify-content-center align-items-center" (click)="goToSite('https://github.com/djabla/dj-PokeDex')">Check It Out</button>
          </div>
        </div>
      </div>


      <!-- <div class="project-card shadow-6 hover:shadow-8">
        <div class="project-img-holder">
          <p-galleria [value]="goCreateImages" class="project-img" [showIndicators]="false" [showThumbnails]="false"
          [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true">
            <ng-template pTemplate="item" let-item>
              <img [src]="item" style="aspect-ratio: default; width: 100%; display: block;" />
            </ng-template>
          </p-galleria>
        </div>
        <h1 class="font-bold mb-1">GoCreate</h1>
        <p class="text-xs text-600 font-italic m-0 mb-2">School Group Project</p>
        <p class="mt-0 text-bold text-medium">An e-commerce website built using CodeIgniter | PHP</p>
        <p-button class="w-max hover:shadow-8" label="Check It Out" styleClass="p-button-warning"
        (onClick)="goToSite('https://github.com/djabla/GoCreate')"></p-button>
      </div> -->

      <!-- <div class="project-card shadow-6 hover:shadow-8">
        <div class="project-img-holder">
          <img src="../assets/lakbay/2d Adventure Game.png" class="project-img" alt="">
        </div>
        <h1 class="font-bold mb-1">LAKBAY</h1>
        <p class="text-xs text-600 font-italic m-0 mb-2">School Group Project</p>
        <p class="mt-0 text-bold text-medium">A 2D adventure game built using Unity | C#</p>
        <p-button class="w-max hover:shadow-8" label="Check It Out" styleClass="p-button-warning"
        (onClick)="goToSite('https://github.com/djabla/LAKBAY')"></p-button>
      </div> -->

      <!-- <div class="project-card shadow-6 hover:shadow-8">
        <div class="project-img-holder">
          <img src="../assets/gocreate/1-landing-page.png" class="project-img" alt="">
        </div>
        <h1 class="font-bold mb-1">Pokedex</h1>
        <p class="text-xs text-600 font-italic m-0 mb-2">Personal Project</p>
        <p class="mt-0 text-bold text-medium">A simple web app that utilizes Pokemon API, built using Angular | Typescript</p>
        <p-button class="w-max hover:shadow-8" label="Check It Out" styleClass="p-button-warning"
        (onClick)="goToSite('https://github.com/djabla/dj-PokeDex')"></p-button>
      </div> -->

    </div>
  </section>
  
  <!-- CONTACTS ************************ -->
  <section id="contact" class="w-screen h-screen bg-black-alpha-90">
    <div class="contact-holder flex flex-row justify-content-around" style="height: 90%; width: 100%;">
      <div class="h-full flex flex-column justify-content-start mt-6 p-6 pl-8" style="width: 38%;">
        <h1 class="text-white text-7xl font-bold">Say Hello</h1>
        <div class="flex flex-row">
          <img src="../assets/contact-icons/email.svg" class="contact-icon">
          <p><a class="text-white no-underline pl-4 cursor-pointer" (click)="goToSite('mailto:dylanjabla07@gmail.com')">dylanjabla07@gmail.com</a></p>
        </div>
        <div class="flex flex-row">
          <img src="../assets/contact-icons/phone.svg" class="contact-icon">
          <p><a class="text-white no-underline pl-4">+63935 297 0398</a></p>
        </div>
      </div>
      <div class="h-full flex flex-column justify-content-start mt-6 p-6" style="width: 28%;">
        <h1 class="text-white text-7xl font-bold" style="visibility: hidden;">S</h1>
        <div class="flex flex-row">
          <img src="../assets/contact-icons/folder.svg" class="contact-icon pr-2">
          <p><a class="text-white no-underline cursor-pointer pl-4" (click)="goToSite('https://github.com/djabla/my-projects')">Other Works</a></p>
        </div>
        <div class="flex flex-row">
          <img src="../assets/contact-icons/resume.svg" class="contact-icon pr-2">
          <p><a class="text-white no-underline cursor-pointer pl-4" (click)="goToSite('https://drive.google.com/file/d/1kKNHJyw3gJxREEWtPW0d6AjXH_utPPQB/view?usp=sharing')">My Resume</a></p>
        </div>
      </div>
      <div class="h-full flex flex-column justify-content-start mt-6 p-6 pr-8" style="width: 33%;">
        <h1 class="text-white text-7xl font-bold text-right">Socials</h1>
        <div class="flex flex-row-reverse">
          <img src="../assets/contact-icons/facebook.svg" class="contact-icon">
          <p><a class="text-white no-underline text-right cursor-pointer pr-4" (click)="goToSite('https://www.facebook.com/dylan.jabla/')">dylan.jabla</a></p>
        </div>
        <div class="flex flex-row-reverse">
          <img src="../assets/contact-icons/twitter.svg" class="contact-icon">
          <p><a class="text-white no-underline text-right cursor-pointer pr-4" (click)="goToSite('https://twitter.com/DylanJabla')">@DylanJabla</a></p>
        </div>
        <div class="flex flex-row-reverse">
          <img src="../assets/contact-icons/instagram.svg" class="contact-icon">
          <p><a class="text-white no-underline text-right cursor-pointer pr-4" (click)="goToSite('https://www.instagram.com/dylan.jabla/')">@dylan.jabla</a></p>
        </div>
        <div class="flex flex-row-reverse">
          <img src="../assets/contact-icons/github.svg" class="contact-icon">
          <p><a class="text-white no-underline text-right cursor-pointer pr-4" (click)="goToSite('https://github.com/djabla')">djabla</a></p>
        </div>
        <div class="flex flex-row-reverse">
          <img src="../assets/contact-icons/linkedin.svg" class="contact-icon">
          <p><a class="text-white no-underline text-right cursor-pointer pr-4" (click)="goToSite('https://www.linkedin.com/in/dylan-jabla-630835180/')">Dylan Jabla</a></p>
        </div>
      </div>
    </div>
    <div class="contact-footer ml-8" style="border-top: 1px solid orange; width: 88vw;">
      <p class="text-white pt-1">&copy; Dylan Jabla 2023</p>
    </div>
  </section>
</div>